// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright (C) 2023-2026 Spacemit, Inc
 * Copyright (C) 2025-2026 RISCStar Ltd.
 */

/dts-v1/;

#include "k1.dtsi"
#include "k1-spm8821.dtsi"

/ {
	model = "spacemit k1 spl";

	aliases {
		console = &uart0;
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
		bootph-all;
	};

	binman {
		section {
			filename = "u-boot-spl-ddr.bin";
			pad-byte = <0xff>;
			align-size = <4>;
			align = <4>;

			spl_section: section {
				type = "section";
				size = <CONFIG_SPL_DDR_FIRMWARE_OFFSET>;

				u-boot-spl-nodtb {
					type = "blob";
					filename = "spl/u-boot-spl.bin";
					align-end = <4>;
				};

				u-boot-spl-dtb {
					type = "blob";
				        filename = "spl/u-boot-spl.dtb";
					align-end = <4>;
				};
			};

			ddr_fw: ddr-firmware {
				type = "blob";
				offset = <CONFIG_SPL_DDR_FIRMWARE_OFFSET>;
				filename = "ddr_fw.bin";
				optional;
				align-end = <4>;
			};
		};
	};
};

&vctcxo_1m {
	status = "okay";
	bootph-pre-ram;
};

&vctcxo_24m {
	status = "okay";
	bootph-pre-ram;
};

&vctcxo_3m {
	status = "okay";
	bootph-pre-ram;
};

&osc_32k {
	status = "okay";
	bootph-pre-ram;
};

&soc {
	bootph-all;

	reset-controller@d4050000 {
		status = "okay";
		bootph-pre-ram;
	};
	system-controller@d4050000 {
		status = "okay";
		bootph-pre-ram;
	};
	clock-controller@d4090000 {
		status = "okay";
		bootph-pre-ram;
	};
	system-controller@d4282800 {
		status = "okay";
		bootph-pre-ram;
	};
	system-controller@d4015000 {
		clocks = <&osc_32k>, <&vctcxo_1m>, <&vctcxo_3m>,
			 <&vctcxo_24m>, <&syscon_mpmu CLK_PLL1_31P5>,
			 <&pll CLK_PLL1_D4>;
		clock-names = "osc", "vctcxo_1m", "vctcxo_3m",
			      "vctcxo_24m", "pll1_d78_31p5", "pll1_d4";
		status = "okay";
		bootph-pre-ram;
	};

	i2c@d4012000 {		/* i2c2 */
		status = "okay";
		bootph-pre-ram;
		eeprom: eeprom {
			compatible = "atmel,24c02";
			reg = <0x50>;
			status = "okay";
			bootph-pre-ram;
		};
	};

	i2c@d401d800 {		/* i2c8 */
		status = "okay";
		bootph-pre-ram;
		spm8821: pmic {
			compatible = "spacemit,spm8821";
			reg = <0x41>;
			//bus = <8>;
			status = "okay";
			bootph-pre-ram;

			regulators {
				status = "okay";
				bootph-pre-ram;

				DCDC_REG1 {
					status = "okay";
					bootph-pre-ram;
				};

				DCDC_REG3 {
					status = "okay";
					bootph-pre-ram;
				};

				ALDO_REG1 {
					status = "okay";
					bootph-pre-ram;
				};
			};
		};
	};

	ddr-controller@c0000000 {
		compatible = "spacemit,ddr";
		reg = <0x00000000 0xC0000000 0x00000000 0x00400000>;
		spacemit,data-rate = <0>;
		spacemit,cs-num = <0>;
		spacemit,ddr-type = "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0";
		spacemit,tx-odt = <0>;
		status = "okay";
		bootph-pre-ram;
	};
};

&uart0 {
	status = "okay";
	bootph-pre-ram;
};
